<form [formGroup]="form">
  <label>Range Sliders</label>
    <div>
      <app-range
        [title]="form.get('minTitle')!.value"
        [min]="0"
        [max]="100"
        [value]="form.get('minRange')!.value"
        (newValue)="onMinRangeChange($event)">
      </app-range>
    </div>
    <div>
      <app-range
        [title]="form.get('maxTitle')!.value"
        [min]="0"
        [max]="100"
        [value]="form.get('maxRange')!.value"
        (newValue)="onMaxRangeChange($event)">
      </app-range>
    </div>
    <div *ngIf="form.errors?.['rangeInvalid']">
      <p>Min range must be less than max range.</p>
    </div>
  </form> 